In [3]:
from statsmodels.stats import weightstats as stests
import pandas as pd
from scipy import stats

In [5]:
df = pd.read_csv("D:\\M.Sc.IT\\Sem 1\\RIC\\Practicals\\RIC-Pracitcal_Data\\Practical-05\\blood_pressure.csv")
df[['bp_before','bp_after']].describe()
df

     patient  gender agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
..       ...     ...    ...        ...       ...
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [6]:
ztest ,pval = stests.ztest(df['bp_before'], x2=None, value=156)
print(float(pval))

0.6651614730255063

In [7]:
if pval<0.05:
	print("reject null hypothesis")
else:
	print("accept null hypothesis")

accept null hypothesis