In [8]:
import os
import pandas as pd
import sys

In [9]:
#pip install xlrd

In [10]:
InputFileName = 'Country_Currency.xls'
InputFileDir = 'C:/VKHCG/04-Clark/01-Retrieve'
OutputFileName = 'Retrieve_Country_Currency.csv'
OutputFileDir = 'C:/VKHCG/04-Clark/01-Retrieve'

In [11]:
sInputFileName = InputFileDir + '/' + InputFileName
print(sInputFileName)
sOutputFileName= OutputFileDir + '/' + OutputFileName
print(sOutputFileName)

C:/VKHCG/04-Clark/01-Retrieve/Country_Currency.xls
C:/VKHCG/04-Clark/01-Retrieve/Retrieve_Country_Currency.csv

In [12]:
CurrencyRawData = pd.read_excel(sInputFileName, sheet_name = "Data")
CurrencyRawData.shape

(278, 3)

In [17]:
sColumns = ['Country or territory', 'Currency', 'ISO-4217']
CurrencyData = CurrencyRawData[sColumns]

In [20]:
print(CurrencyData)

           Country or territory              Currency ISO-4217
0                             A                   NaN      NaN
1                   Afghanistan        Afghan afghani      AFN
2    Akrotiri and Dhekelia (UK)         European euro      EUR
3       Aland Islands (Finland)         European euro      EUR
4                       Albania          Albanian lek      ALL
..                          ...                   ...      ...
273                           Y                   NaN      NaN
274                       Yemen           Yemeni rial      YER
275                           Z                   NaN      NaN
276                      Zambia        Zambian kwacha      ZMW
277                    Zimbabwe  United States dollar      USD

[278 rows x 3 columns]

In [21]:
CurrencyData.rename(columns={'Country or territory': 'Country', 'ISO-4217':
'CurrencyCode'}, inplace=True)
CurrencyData.dropna(subset=['Currency'],inplace=True)
CurrencyData.head()

                      Country        Currency CurrencyCode
1                 Afghanistan  Afghan afghani          AFN
2  Akrotiri and Dhekelia (UK)   European euro          EUR
3     Aland Islands (Finland)   European euro          EUR
4                     Albania    Albanian lek          ALL
5                     Algeria  Algerian dinar          DZD

In [22]:
CurrencyData.shape

(253, 3)

In [25]:
CurrencyData['Country'] = CurrencyData['Country'].map(lambda x: x.strip())
CurrencyData['Currency'] = CurrencyData['Currency'].map(lambda x:
x.strip())
CurrencyData['CurrencyCode'] = CurrencyData['CurrencyCode'].map(lambda x:
x.strip())

In [26]:
print(CurrencyData)

                        Country              Currency CurrencyCode
1                   Afghanistan        Afghan afghani          AFN
2    Akrotiri and Dhekelia (UK)         European euro          EUR
3       Aland Islands (Finland)         European euro          EUR
4                       Albania          Albanian lek          ALL
5                       Algeria        Algerian dinar          DZD
..                          ...                   ...          ...
271           Wake Island (USA)  United States dollar          USD
272  Wallis and Futuna (France)             CFP franc          XPF
274                       Yemen           Yemeni rial          YER
276                      Zambia        Zambian kwacha          ZMW
277                    Zimbabwe  United States dollar          USD

[253 rows x 3 columns]

In [27]:
CurrencyData.to_csv(sOutputFileName, index = False)