In [ ]:
# Write Python / R program to create the network routing diagram from the given data on routers

In [49]:
import sys
import os
import pandas as pd

In [50]:
sInputFileName1='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_Country_Code.csv'
sInputFileName2='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/02-Python/Retrieve_Router_Location.csv'
sInputFileName3='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_IP_DATA.csv'
OutputFileName='Assess-Network-Routing-Company.csv'
#InputFileDir ='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R'
OutputFileDir = 'C:/VKHCG/01-Vermeulen/02-Assess/01-EDS/02-Python'

In [51]:
### Import Country Data
print('Loading :',sInputFileName1)

Loading : C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_Country_Code.csv

In [52]:
CountryData=pd.read_csv(sInputFileName1,header=0,low_memory=False, encoding="latin-1")
print('Loaded Country:',CountryData.columns.values)

Loaded Country: ['RowID' 'Country' 'ISO-2-CODE' 'ISO-3-Code' 'ISO-M49']

In [53]:
## Assess Country Data
print('Changed :',CountryData.columns.values)

Changed : ['RowID' 'Country' 'ISO-2-CODE' 'ISO-3-Code' 'ISO-M49']

In [54]:
CountryData.rename(columns={'Country': 'Country_Name'}, inplace=True)
CountryData.rename(columns={'ISO-2-CODE': 'Country_Code'}, inplace=True)
CountryData.drop('ISO-M49', axis=1, inplace=True)
CountryData.drop('ISO-3-Code', axis=1, inplace=True)
CountryData.drop('RowID', axis=1, inplace=True)
print('To :',CountryData.columns.values)

To : ['Country_Name' 'Country_Code']

In [55]:
CountryData.head()

           Country_Name Country_Code
0               Andorra           AD
1  United Arab Emirates           AE
2           Afghanistan           AF
3   Antigua and Barbuda           AG
4              Anguilla           AI

In [56]:
### Import Company Data
print('Loading :',sInputFileName2)

Loading : C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/02-Python/Retrieve_Router_Location.csv

In [57]:
CompanyData=pd.read_csv(sInputFileName2,header=0,low_memory=False, encoding="latin-1")
print('Loaded Company :',CompanyData.columns.values)

Loaded Company : ['Country' 'Place_Name' 'Latitude' 'Longitude']

In [58]:
## Assess Company Data
print('Changed :',CompanyData.columns.values)
CompanyData.rename(columns={'Country': 'Country_Code'}, inplace=True)
print('To :',CompanyData.columns.values)

Changed : ['Country' 'Place_Name' 'Latitude' 'Longitude']
To : ['Country_Code' 'Place_Name' 'Latitude' 'Longitude']

In [59]:
CompanyData.head()

  Country_Code Place_Name  Latitude  Longitude
0           US   New York   40.7528   -73.9725
1           US   New York   40.7214   -74.0052
2           US   New York   40.7662   -73.9862
3           US   New York   40.7449   -73.9782
4           US   New York   40.7605   -73.9933

In [60]:
### Import Customer Data
print('Loading :',sInputFileName3)

Loading : C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_IP_DATA.csv

In [61]:
CustomerRawData=pd.read_csv(sInputFileName3,header=0,low_memory=False, encoding="latin-1")
print('Loaded Customer :',CustomerRawData.columns.values)

Loaded Customer : ['RowID' 'Country' 'Place.Name' 'Post.Code' 'Latitude' 'Longitude']

In [62]:
CustomerData=CustomerRawData.dropna(axis=0, how='any')
print('Remove Blank Country Code')
print('Reduce Rows from', CustomerRawData.shape[0],' to ', CustomerData.shape[0])
print('Changed :',CustomerData.columns.values)

Remove Blank Country Code
Reduce Rows from 1247502  to  1150326
Changed : ['RowID' 'Country' 'Place.Name' 'Post.Code' 'Latitude' 'Longitude']

In [63]:
CustomerData.rename(columns={'Country': 'Country_Code'}, inplace=True)
print('To :',CustomerData.columns.values)

To : ['RowID' 'Country_Code' 'Place.Name' 'Post.Code' 'Latitude' 'Longitude']

In [64]:
CustomerData.head()

      RowID Country_Code  Place.Name Post.Code  Latitude  Longitude
2311   2312           US  Pittsburgh     15222   40.4495    -79.988
2312   2313           US  Pittsburgh     15222   40.4495    -79.988
2313   2314           US  Pittsburgh     15222   40.4495    -79.988
2314   2315           US  Pittsburgh     15222   40.4495    -79.988
2315   2316           US  Pittsburgh     15222   40.4495    -79.988

In [70]:
### Merge Company and Country Data
CompanyNetworkData=pd.merge(
        CompanyData, 
        CountryData, 
        how='inner', 
        on='Country_Code'
        )

In [71]:
CompanyNetworkData.head()

  Country_Code Place_Name  Latitude  Longitude              Country_Name
0           US   New York   40.7528   -73.9725  United States of America
1           US   New York   40.7214   -74.0052  United States of America
2           US   New York   40.7662   -73.9862  United States of America
3           US   New York   40.7449   -73.9782  United States of America
4           US   New York   40.7605   -73.9933  United States of America

In [72]:
CompanyNetworkData.shape

(150, 5)

In [73]:
print('Change ',CompanyNetworkData.columns.values)

Change  ['Country_Code' 'Place_Name' 'Latitude' 'Longitude' 'Country_Name']

In [74]:
for i in CompanyNetworkData.columns.values:
    j='Company_'+i
    CompanyNetworkData.rename(columns={i: j}, inplace=True)
print('To ', CompanyNetworkData.columns.values)

To  ['Company_Country_Code' 'Company_Place_Name' 'Company_Latitude'
 'Company_Longitude' 'Company_Country_Name']

In [81]:
CompanyNetworkData.head()

,Company_Country_Code,Company_Place_Name,Company_Latitude,Company_Longitude,Company_Country_Name
0,US,New York,40.7528,-73.9725,United States of America
1,US,New York,40.7214,-74.0052,United States of America
2,US,New York,40.7662,-73.9862,United States of America
3,US,New York,40.7449,-73.9782,United States of America
4,US,New York,40.7605,-73.9933,United States of America

In [82]:
CompanyNetworkData.shape

(150, 5)

In [78]:
# Output
OutputFileName=OutputFileDir + '/' + OutputFileName
print('Storing :', OutputFileName)

Storing : C:/VKHCG/01-Vermeulen/02-Assess/01-EDS/02-Python/Assess-Network-Routing-Company.csv

In [80]:
CompanyNetworkData.to_csv(OutputFileName, index = False, encoding="latin-1")