In [ ]:
# Write Python / R program to create the network routing diagram from the given data on routers

In [2]:
import sys
import os
import pandas as pd

In [4]:
sInputFileName1='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_Country_Code.csv'
sInputFileName2='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/02-Python/Retrieve_All_Router_Location.csv' 

OutputFileName='Assess-Network-Routing-Customer.csv'
#InputFileDir ='C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R'
OutputFileDir = 'C:/VKHCG/01-Vermeulen/02-Assess/01-EDS/02-Python'

In [3]:
### Import Country Data
print('Loading :',sInputFileName1)

Loading : C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/01-R/Retrieve_Country_Code.csv

In [5]:
CountryData=pd.read_csv(sInputFileName1,header=0,low_memory=False, encoding="latin-1")
print('Loaded Country:',CountryData.columns.values)

Loaded Country: ['RowID' 'Country' 'ISO-2-CODE' 'ISO-3-Code' 'ISO-M49']

In [6]:
## Assess Country Data
print('Change From :',CountryData.columns.values)

Change From : ['RowID' 'Country' 'ISO-2-CODE' 'ISO-3-Code' 'ISO-M49']

In [7]:
CountryData.rename(columns={'Country': 'Country_Name'}, inplace=True)
CountryData.rename(columns={'ISO-2-CODE': 'Country_Code'}, inplace=True)
CountryData.drop('ISO-M49', axis=1, inplace=True)
CountryData.drop('ISO-3-Code', axis=1, inplace=True)
CountryData.drop('RowID', axis=1, inplace=True)
print('To :',CountryData.columns.values)

To : ['Country_Name' 'Country_Code']

In [8]:
CountryData.head()

           Country_Name Country_Code
0               Andorra           AD
1  United Arab Emirates           AE
2           Afghanistan           AF
3   Antigua and Barbuda           AG
4              Anguilla           AI

In [9]:
### Import Customer Data
print('Loading :',sInputFileName2)

Loading : C:/VKHCG/01-Vermeulen/01-Retrieve/01-EDS/02-Python/Retrieve_All_Router_Location.csv

In [10]:
CustomerRawData=pd.read_csv(sInputFileName2,header=0,low_memory=False, encoding="latin-1")
print('Loaded Customer :',CustomerRawData.columns.values)

Loaded Customer : ['Country' 'Place_Name' 'Latitude' 'Longitude']

In [11]:
CustomerData=CustomerRawData.dropna(axis=0, how='any')
print('Remove Blank Country Code')
print('Reduce Rows from', CustomerRawData.shape[0],' to ', CustomerData.shape[0])
print('Changed :',CustomerData.columns.values)

Remove Blank Country Code
Reduce Rows from 101376  to  101357
Changed : ['Country' 'Place_Name' 'Latitude' 'Longitude']

In [12]:
CustomerData.rename(columns={'Country': 'Country_Code'}, inplace=True)
print('To :',CustomerData.columns.values)

To : ['Country_Code' 'Place_Name' 'Latitude' 'Longitude']

c:\users\ngt\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [13]:
CustomerData.head()

  Country_Code Place_Name  Latitude  Longitude
0           BW   Gaborone  -24.6464    25.9119
1           NE     Niamey   13.5167     2.1167
2           MZ     Maputo  -25.9653    32.5892
3           GH       Tema    5.6167    -0.0167
4           GH     Kumasi    6.6833    -1.6167

In [15]:
### Merge Company and Country Data
CustomerNetworkData=pd.merge(
        CustomerData, 
        CountryData, 
        how='inner', 
        on='Country_Code'
        )

In [16]:
CustomerNetworkData.head()

  Country_Code   Place_Name  Latitude  Longitude Country_Name
0           BW     Gaborone  -24.6464    25.9119     Botswana
1           BW  Francistown  -21.1667    27.5167     Botswana
2           BW         Maun  -19.9833    23.4167     Botswana
3           BW   Molepolole  -24.4167    25.5333     Botswana
4           NE       Niamey   13.5167     2.1167        Niger

In [22]:
CustomerNetworkData.shape

(101354, 5)

In [23]:
print('Change From ',CustomerNetworkData.columns.values)

Change From  ['Country_Code' 'Place_Name' 'Latitude' 'Longitude' 'Country_Name']

In [24]:
for i in CustomerNetworkData.columns.values:
    j='Company_'+i
    CustomerNetworkData.rename(columns={i: j}, inplace=True)
print('To ', CustomerNetworkData.columns.values)

To  ['Company_Country_Code' 'Company_Place_Name' 'Company_Latitude'
 'Company_Longitude' 'Company_Country_Name']

In [25]:
CustomerNetworkData.head()

,Company_Country_Code,Company_Place_Name,Company_Latitude,Company_Longitude,Company_Country_Name
0,BW,Gaborone,-24.6464,25.9119,Botswana
1,BW,Francistown,-21.1667,27.5167,Botswana
2,BW,Maun,-19.9833,23.4167,Botswana
3,BW,Molepolole,-24.4167,25.5333,Botswana
4,NE,Niamey,13.5167,2.1167,Niger

In [26]:
CustomerNetworkData.shape

(101354, 5)

In [27]:
# Output
OutputFileName=OutputFileDir + '/' + OutputFileName
print('Storing :', OutputFileName)

Storing : C:/VKHCG/01-Vermeulen/02-Assess/01-EDS/02-Python/Assess-Network-Routing-Customer.csv

In [28]:
CustomerNetworkData.to_csv(OutputFileName, index = False, encoding="latin-1")