In [26]:
import sys
import os
import shutil
import zipfile as zp
import pandas as pd

In [24]:
InputFileDir   ='C:/VKHCG/04-Clark/00-RawData'
OutputFileDir  ='C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python/'
InputFileName  ='Data_female-names.zip'
OutputFileName ='Data_female-names.csv'

In [25]:
InputZIPFile = InputFileDir + '/' + InputFileName 
InputZIPFile

'C:/VKHCG/04-Clark/00-RawData/Data_female-names.zip'

In [27]:
zip_file = zp.ZipFile(InputZIPFile, 'r')
zip_file.extractall(OutputFileDir)
zip_file.close()

In [30]:
t=0
for dirname, dirnames, filenames in os.walk(OutputFileDir):
    for filename in filenames:
        sCSVFile = dirname + '/' + filename
        print(sCSVFile)
        t=t+1
        if t==1:
            NameRawData=pd.read_csv(sCSVFile,header=None,low_memory=False)
            NameData=NameRawData
        else:    
            NameRawData=pd.read_csv(sCSVFile,header=None,low_memory=False)
            NameData=NameData.append(NameRawData)

C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-A.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-B.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-C.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-D.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-E.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-F.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-G.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-H.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-I.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-J.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-K.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-L.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-M.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-N.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-O.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-P.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-Q.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-R.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-S.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-T.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-U.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-V.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-W.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-X.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-Y.csv
C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Data_female-names-Z.csv

In [33]:
NameData.shape

(4275, 1)

In [34]:
NameData.head()

         0
0    Aaron
1    Abbey
2    Abbie
3     Abby
4  Abigail

In [35]:
OutputFile = OutputFileDir + OutputFileName
OutputFile

'C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python/Data_female-names.csv'

In [36]:
NameData.rename(columns={0 : 'NameValues'},inplace=True)
NameData.head()

  NameValues
0      Aaron
1      Abbey
2      Abbie
3       Abby
4    Abigail

In [37]:
NameData.to_csv(OutputFile, index = False)
print('Process: ',InputZIPFile)

Process:  C:/VKHCG/04-Clark/00-RawData/Data_female-names.zip