In [22]:
import sys
import os
import sqlite3 as sq
import pandas as pd

In [27]:
DataBaseName='clark.db'
DataBaseDir = 'C:/VKHCG/04-Clark/02-Assess/SQLite'

In [31]:
sDatabaseName=DataBaseDir + '/' + DataBaseName
print('Loading :',sDatabaseName)
conn = sq.connect(sDatabaseName)

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db

In [32]:
sTableIn='Retrieve_Date'
sSQL='select * FROM ' + sTableIn + ';'
print('Loading :',sDatabaseName,' Table:',sTableIn)

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Retrieve_Date

In [33]:
dateRawData=pd.read_sql_query(sSQL, conn)
dateData=dateRawData

In [34]:
print('Load Rows : ',dateRawData.shape[0], ' records')
dateData.head()

Load Rows :  50406  records

   index              FinDate
0      0  1900-01-01 00:00:00
1      1  1900-01-02 00:00:00
2      2  1900-01-03 00:00:00
3      3  1900-01-04 00:00:00
4      4  1900-01-05 00:00:00

In [35]:
dateData.drop_duplicates(subset='FinDate', keep='first', inplace=True)
dateData.head()

   index              FinDate
0      0  1900-01-01 00:00:00
1      1  1900-01-02 00:00:00
2      2  1900-01-03 00:00:00
3      3  1900-01-04 00:00:00
4      4  1900-01-05 00:00:00

In [ ]:
sTableOut='Assess_Time'

In [37]:
sTableOut='Assess_Date'
print('Storing :',sDatabaseName,' Table:',sTableOut)
dateData.to_sql(sTableOut, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_Date

In [38]:
print('Store Rows : ',dateData.shape[0], ' records')
dateData.head()

Store Rows :  43830  records

   index              FinDate
0      0  1900-01-01 00:00:00
1      1  1900-01-02 00:00:00
2      2  1900-01-03 00:00:00
3      3  1900-01-04 00:00:00
4      4  1900-01-05 00:00:00

In [40]:
sTableIn='Retrieve_Time'
sSQL='select * FROM ' + sTableIn + ';'
print('################')  
sTableOut='Assess_Time'
print('Loading :',sDatabaseName,' Table:',sTableIn)

################
Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Retrieve_Time

In [41]:
timeRawData=pd.read_sql_query(sSQL, conn)
timeData=timeRawData