In [10]:
import sys
import os
import sqlite3 as sq
import pandas as pd

In [16]:
sInputFileName1='Retrieve-Data_female-names.csv'
sInputFileName2='Retrieve-Data_male-names.csv'
sInputFileName3='Retrieve-Data_last-names.csv'
sOutputFileName1='Assess-Staff.csv'
sOutputFileName2='Assess-Customers.csv'
InputFileDir='C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python/'
OutputFileDir = 'C:/VKHCG/04-Clark/02-Assess/01-EDS/02-Python'
DataBaseName='clark.db'
DataBaseDir = 'C:/VKHCG/04-Clark/02-Assess/SQLite'

In [12]:
sDatabaseName=DataBaseDir + '/' + DataBaseName
print('Loading :',sDatabaseName)
conn = sq.connect(sDatabaseName)

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db

In [17]:
### Import Female Data
sFileName1=InputFileDir + '/' + sInputFileName1
print('################################')
print('Loading :',sFileName1)

################################
Loading : C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Retrieve-Data_female-names.csv

In [18]:
FemaleRawData=pd.read_csv(sFileName1,header=0,low_memory=False, encoding="latin-1")
FemaleRawData.rename(columns={'NameValues' : 'FirstName'},inplace=True)

In [20]:
print(FemaleRawData.shape)
FemaleRawData.head()

(4275, 1)

  FirstName
0     Aaron
1     Abbey
2     Abbie
3      Abby
4   Abigail

In [21]:
FemaleRawData.drop_duplicates(subset=None, keep='first', inplace=True)
FemaleData=FemaleRawData.sample(100)

In [22]:
sTable='Assess_FemaleName'
print('Storing :',sDatabaseName,' Table:',sTable)
FemaleData.to_sql(sTable, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_FemaleName

In [23]:
print('Rows : ',FemaleData.shape[0], ' records')

Rows :  100  records

In [24]:
### Import Male Data
sFileName2=InputFileDir + '/' + sInputFileName2
print('################################')
print('Loading :',sFileName2)

################################
Loading : C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Retrieve-Data_male-names.csv

In [25]:
MaleRawData=pd.read_csv(sFileName2,header=0,low_memory=False, encoding="latin-1")
MaleRawData.rename(columns={'NameValues' : 'FirstName'},inplace=True)
MaleRawData.drop_duplicates(subset=None, keep='first', inplace=True)
MaleData=MaleRawData.sample(100)

In [26]:
sTable='Assess_MaleName'
print('Storing :',sDatabaseName,' Table:',sTable)
MaleData.to_sql(sTable, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_MaleName

In [27]:
print('Rows : ',MaleData.shape[0], ' records')

Rows :  100  records

In [28]:
### Import Surname Data
sFileName3=InputFileDir + '/' + sInputFileName3
print('################################')
print('Loading :',sFileName3)

################################
Loading : C:/VKHCG/04-Clark/01-Retrieve/01-EDS/02-Python//Retrieve-Data_last-names.csv

In [30]:
SurnameRawData=pd.read_csv(sFileName3,header=0,low_memory=False, encoding="latin-1")
SurnameRawData.rename(columns={'NameValues' : 'LastName'},inplace=True)
SurnameRawData.drop_duplicates(subset=None, keep='first', inplace=True)
SurnameData=SurnameRawData.sample(200)

In [31]:
sTable='Assess_Surname'
print('Storing :',sDatabaseName,' Table:',sTable)
SurnameData.to_sql(sTable, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_Surname

In [32]:
print('Rows : ',SurnameData.shape[0], ' records')

Rows :  200  records

In [33]:
sTable='Assess_FemaleName & Assess_MaleName'
print('Loading :',sDatabaseName,' Table:',sTable)
sSQL="select distinct"
sSQL=sSQL+ " A.FirstName,"
sSQL=sSQL+ " 'Female' as Gender"
sSQL=sSQL+ " from"
sSQL=sSQL+ " Assess_FemaleName as A"
sSQL=sSQL+ " UNION"
sSQL=sSQL+ " select distinct"
sSQL=sSQL+ " A.FirstName,"
sSQL=sSQL+ " 'Male' as Gender"
sSQL=sSQL+ " from"
sSQL=sSQL+ " Assess_MaleName as A;"
print(sSQL)

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_FemaleName & Assess_MaleName
select distinct A.FirstName, 'Female' as Gender from Assess_FemaleName as A UNION select distinct A.FirstName, 'Male' as Gender from Assess_MaleName as A;

In [34]:
FirstNameData=pd.read_sql_query(sSQL, conn)

In [35]:
print(FirstNameData.shape)
FirstNameData.head()

(200, 2)

  FirstName  Gender
0      Alex    Male
1   Alfonzo    Male
2      Alia  Female
3    Alonzo    Male
4     Anita  Female

In [36]:
sTable='Assess_FirstName'
print('Storing :',sDatabaseName,' Table:',sTable)
FirstNameData.to_sql(sTable, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_FirstName

In [37]:
sTable='Assess_FirstName x2 & Assess_Surname'
print('Loading :',sDatabaseName,' Table:',sTable)
sSQL="select distinct"
sSQL=sSQL+ " A.FirstName,"
sSQL=sSQL+ " B.FirstName AS SecondName,"
sSQL=sSQL+ " C.LastName,"
sSQL=sSQL+ " A.Gender"
sSQL=sSQL+ " from"
sSQL=sSQL+ " Assess_FirstName as A"
sSQL=sSQL+ " ,"
sSQL=sSQL+ " Assess_FirstName as B"
sSQL=sSQL+ " ,"
sSQL=sSQL+ " Assess_Surname as C"
sSQL=sSQL+ " WHERE"
sSQL=sSQL+ " A.Gender = B.Gender"
sSQL=sSQL+ " AND"
sSQL=sSQL+ " A.FirstName <> B.FirstName;"
sSQL

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_FirstName x2 & Assess_Surname

'select distinct A.FirstName, B.FirstName AS SecondName, C.LastName, A.Gender from Assess_FirstName as A , Assess_FirstName as B , Assess_Surname as C WHERE A.Gender = B.Gender AND A.FirstName <> B.FirstName;'

In [38]:
PeopleRawData=pd.read_sql_query(sSQL, conn)
People1Data=PeopleRawData.sample(10000)

In [39]:
print(People1Data.shape)
People1Data.head()

(10000, 4)

          FirstName SecondName    LastName  Gender
1968478  Kristopher     Marcel  Hutcherson    Male
3458906    Sherrell    Kathryn      Thames  Female
3826454       Vania     Aubrey    Costello  Female
3117278       Rhett    Mitchel     Nesmith    Male
632923       Darren   Deangelo        Hess    Male

In [40]:
sTable='Assess_FirstName & Assess_Surname'
print('Loading :',sDatabaseName,' Table:',sTable)
sSQL="select distinct"
sSQL=sSQL+ " A.FirstName,"
sSQL=sSQL+ " '' AS SecondName,"
sSQL=sSQL+ " B.LastName,"
sSQL=sSQL+ " A.Gender"
sSQL=sSQL+ " from"
sSQL=sSQL+ " Assess_FirstName as A"
sSQL=sSQL+ " ,"
sSQL=sSQL+ " Assess_Surname as B;"
PeopleRawData=pd.read_sql_query(sSQL, conn)

Loading : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_FirstName & Assess_Surname

In [41]:
print(PeopleRawData.shape)
PeopleRawData.head()

(40000, 4)

  FirstName SecondName   LastName Gender
0      Alex                  Ladd   Male
1      Alex             Benefield   Male
2      Alex             Underhill   Male
3      Alex                 Weber   Male
4      Alex              Sterling   Male

In [42]:
People2Data=PeopleRawData.sample(10000)
PeopleData=People1Data.append(People2Data)

In [44]:
print(PeopleData.shape)
PeopleData.head()

(20000, 4)

          FirstName SecondName    LastName  Gender
1968478  Kristopher     Marcel  Hutcherson    Male
3458906    Sherrell    Kathryn      Thames  Female
3826454       Vania     Aubrey    Costello  Female
3117278       Rhett    Mitchel     Nesmith    Male
632923       Darren   Deangelo        Hess    Male

In [45]:
sTable='Assess_People'
print('Storing :',sDatabaseName,' Table:',sTable)
PeopleData.to_sql(sTable, conn, if_exists="replace")

Storing : C:/VKHCG/04-Clark/02-Assess/SQLite/clark.db  Table: Assess_People

In [46]:
sOutputFileName = sTable+'.csv'
sFileName=OutputFileDir + '/' + sOutputFileName
print('Storing :', sFileName)

Storing : C:/VKHCG/04-Clark/02-Assess/01-EDS/02-Python/Assess_People.csv

In [47]:
PeopleData.to_csv(sFileName, index = False)